version: 2.1
executors:
  java-executor:
    docker:
      - image: cimg/openjdk:13.0
jobs:
  build_test:
    executor:
      java-executor

    working_directory: ~/repo

    steps:
      - checkout

      # run tests!
      - run: ./gradlew test jacocoTestReport

      - run: ./gradlew sonarqube

      - persist_to_workspace:
          root: .
          paths:
            - build/*


workflows:
  test_and_publish:
    jobs:
      - build_test
